.shop-by-category {
    margin: 75px 0;
    padding: 0 15px;
    margin-top: 80px;
    
    @media (min-width: 768px) {
      margin: 50px 0;
      padding: 0 30px;
    }
  
    .sec-heading {
      margin-top: 80px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      color: #333;
      
      @media (min-width: 768px) {
        margin-bottom: 35px;
        font-size: 24px;
      }
  
      &:after {
        content: "";
        display: block;
        margin-top: 5px;
        width: 50px;
        height: 3px;
        background-color: #8e2de2;
        
        @media (min-width: 768px) {
          margin-top: 10px;
        }
      }
    }
  
    .categories {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      
      @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
      }
  
      .category {
        background-color: #000;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;
        aspect-ratio: 1/1;
  
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
          img {
            opacity: 0.8;
            
            @media (min-width: 768px) {
              transform: scale(1.05);
            }
          }
  
          .category-name {
            opacity: 1;
            transform: translateY(0);
          }
        }
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          transition: all 0.3s ease;
        }
  
        .category-name {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 15px;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
          color: white;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 14px;
          opacity: 0.9;
          transform: translateY(10px);
          transition: all 0.3s ease;
          text-align: center;
          
          @media (min-width: 768px) {
            font-size: 16px;
            padding: 20px;
            opacity: 0;
            transform: translateY(20px);
          }
        }
      }
    }
  
    .loading, .error {
      text-align: center;
      padding: 40px;
      font-size: 1.2rem;
    }
  
    .error {
      color: #ff4757;
    }
  
  
  
  }